// Font family
$poppinfont: 'Poppins', sans-serif;
$commicfont: 'Comic Neue', cursive;
$monofont: 'Source Code Pro', monospace;
$monofont_2: 'Ubuntu Mono', monospace;


// Font-color 
$lightBrown: rgb(241, 177, 92);
$darkBrown: rgba(114, 70, 13, 0.8);
$orangeBrown: rgb(230, 134, 90);
$lightGreen: rgb(17, 184, 17);
$orange: rgb(243, 123, 54);
$orangeYellow: rgb(238, 185, 40);
$lightPink: rgba(229, 106, 100, 0.5);
$lightYellow:rgba(252, 220, 133, 0.863);
$subtitleOrange: rgb(221, 139, 32);

// Font-size
$font-big: 2.5rem;